<nav>
<div class="nav-wrapper blue darken-2">
  <a id="logo-container" href="/" class="brand-logo"><img width="125px" src="/img/bmeg-flat.png"/></a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="{{ .Site.BaseURL }}building/demo-introduction">Login</a></li>
      <li><a href="{{ .Site.BaseURL }}system/">Docs</a></li>
      <li><a target="_blank" href="https://github.com/bmeg/">GitHub</a></li>
      <li><a target="_blank" href="https://gitter.im/bmeg/">Chat</a></li>
  </ul>
</div>
</nav>
