{{ partial "analyze_navbar.html" . }}
{{ partial "explore_navbar.html" . }}
{{ partial "collaborate_navbar.html" . }}


<ul class="sidenav" id="mobile">
  <p>Explore</p>
  <li><a href="/explore/data">Data Sources</a></li>
  <li><a href="/explore/schema">Graph Schema</a></li>
  <p>Analyse</p`>
  <li><a href="/analyze/getting_started">Getting Started</a></li>
  <li><a href="/analyze/examples">Examples</a></li>
  <li><a href="https://docs.bmeg.io/grip/docs/queries/operations/">Traverse the Graph</a></li>
  <p>Collaborate</p`>
  <li><a target="_blank" href="https://github.com/bmeg/">GitHub</a></li>
  <li><a target="_blank" href="https://gitter.im/bmeg/">Chat</a></li>

</ul>

<nav>
<div class="nav-wrapper blue darken-2">
  <a id="logo-container" href="/" class="brand-logo">
    <img style="padding-left: 8px" width="160px" height="80px" src="/img/bmeg-flat.png"/>
  </a>
  <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a class="dropdown-trigger" href="#!" data-target="explore-navbar">Explore<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-trigger" href="#!" data-target="analyze-navbar">Analyze<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-trigger" href="#!" data-target="collaborate-navbar">Collaborate<i class="material-icons right">arrow_drop_down</i></a></li>
  </ul>
</div>
</nav>
