
<ul id="slide-out" class="sidenav sidenav-fixed" style="width: 250px">
    <nav>
      <div class="nav-wrapper blue darken-2">
        <a id="logo-container" href="/" class="brand-logo"><img width="125px" src="/img/bmeg-flat.png"/></a>
      </div>
    </nav>
    {{ $page := . }}
    {{ range $i, $menu := .Site.Menus }}
      {{ range $menu }}
      <li>
        <a href="{{ .URL }}"
           class="sidebar-nav-item {{ if $page.IsMenuCurrent "main" . }} active{{end}}"
        >{{ .Pre }}{{ .Name }}</a>
        {{ if .HasChildren }}
        {{ range .Children }}
        <li>
          <ul class="collapsible-header">
            <li>
              <a href="{{ .URL }}"
                 class="sidebar-nav-item {{ if $page.IsMenuCurrent "main" . }} active{{end}}"
              >{{ .Name }}</a></li>
          </ul>
        </li>
        {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
</ul>
