
  <footer class="page-footer blue darken-2">
    <div>
      <a href="https://www.ohsu.edu/compbio/">OHSU Comp Bio</a>
    </div>
  </footer>

  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="{{ .Site.BaseURL }}js/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.parallax');
      var instances = M.Parallax.init(elems, {});

      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems, {});
  });
    });
  </script>

</body>
</html>
