
{{ partial "head.html" . }}

<div class="homepage-lead"><div class="homepage-lead-container">
  <p>BioMedical Evidence Graph</p>
</div></div>

<div class="homepage">

  <div class="homepage-intro">

    <div class="section group">

<center>
<img src="img/bmeg_schema.png"/>
</center>
 BioMedical Evidence Graph (BMEG) to allow for complex integration and analysis of heterogeneous biological data. 

    </div>

     
  </div>

  <div class="homepage-footer"></div>

</div>


{{ partial "tail.html" .}}