{{if .Site.Params.secureAPI}}
<div class="code relative" >
  <button class="btn-floating copy-button absolute right" data-clipboard-target="#bash-example">
    <i class="material-icons" >content_copy</i>
  </button>
	<div class="code-copy-content nt3" id="bash-example">
	  	<code class="hljs">
        <span id="bash-example" >
          <nobr>echo '<span id="_token.json" w3-include-html="/_token.json" ></span>'  >  ~/bmeg_credentials.json</nobr><br/>
        </span>
      </code>
	</div>
</div>
<br/>
{{end}}
