<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">Bio Medical Evidence Graph</h1>
      <div class="row center">
        <h5 class="header col white-text s12 light">A graph database for merging and analyzing connected data</h5>
      </div>
      <!-- div class="row center">
        <a href="/cohort/Gene" target="_blank" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Launch BMEG Viewer (alpha)</a>
      </div -->
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="{{.Get "src" }}"></div>
</div>
