{{if .Site.Params.secureAPI}}
<span id="python-example" >
from gripql.graph import Graph<br/>
g = Graph(url='{{- .Site.BaseURL | safeHTML -}}grip', graph='{{- .Site.Params.defaultGraphName | safeHTML -}}', credential_file='~/bmeg_credentials.json')<br/>
res = g.query().V().limit(5).execute()<br/>
print(res)<br/>
</span>
{{else}}
<span id="python-example" >
from gripql.graph import Graph<br/>
g = Graph(url='{{- .Site.BaseURL | safeHTML -}}grip', graph='{{- .Site.Params.defaultGraphName | safeHTML -}}')<br/>
res = g.query().V().limit(5).execute()<br/>
print(res)<br/>
</span>
{{end}}
