{{if .Site.Params.secureAPI}}
<nobr>echo '<span id="_token.json" w3-include-html="/_token.json" ></span>'  >  /tmp/bmeg_credentials.json</nobr><br/>
<span id="python-example" >
cat << EOF | python<br/>
from gripql.graph import Graph<br/>
g = Graph(url='{{- .Site.BaseURL | safeHTML -}}api', graph='{{- .Site.Params.defaultGraphName | safeHTML -}}', credential_file='/tmp/bmeg_credentials.json')<br/>
g.listIndices()<br/>
EOF<br/>
</span>
{{else}}
<span id="python-example" >
cat << EOF | python<br/>
from gripql.graph import Graph<br/>
g = Graph(url='{{- .Site.BaseURL | safeHTML -}}api', graph='{{- .Site.Params.defaultGraphName | safeHTML -}}')<br/>
g.listIndices()<br/>
EOF<br/>
</span>
{{end}}
